.page-title {
    font-size: 2.875rem;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
}

.page-subtitle {
    font-size: 1.25rem;
    line-height: 1.5;
}

.aside-title {
    font-size: 1.875em;
}

.card-title {
    color: $light-color;
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: 0;
}

