.slider,
.slider__slide-image {
    height: 37.5rem;
}

.slider__slide-text {
    margin-top: -30.75rem;
    max-width: 79vw;
    text-align: left;
}

.slider__slide-title {
    margin: 0.5rem 0 1.8rem;
}

.slider__slide-subtitle {
    display: block;
}

.slider__slide-title--main {
    width: 49vw;
}

.slider__button {
    margin-top: 3rem;
}

.slider__controls {
    top: 33.75rem;
}