.page-title {
    font-size: 2.25rem;
}

.page-subtitle {
    font-size: 1.25rem;
    line-height: 1.5;
}

.aside-title {
    font-size: 1.875em;
}

.aside-subtitle {
    font-size: 1.25em;
    line-height: 1.5;
}

.card-title {
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: 0;
}

.footer-text {
    font-size: 1.875rem;
    line-height: 1.2;
}
