$bg-color: #606970;
$bg-filter-color: rgba($bg-color, 0.6);
$bg-light-color: #f6f6f6;
$hover-color: rgba($bg-color, 0.43);

$dark-color: #000000;
$light-color: #ffffff;
$muted-color: #313131;

$accent-color: #006f9e;